html, body {
    height: 100%;
}

div#topheader {
    height: 36px;
    padding: 7px;
    background: #E6E6E6;
    border-bottom: 1px solid #A8A8A8;
    margin-bottom: 10px;
}
div #topheader img { }

.clear { clear: both; }

div#body {
    min-height: 100%;
}

div#inner_body {
    overflow: auto;
    padding-bottom: 30px; /* same as footer */
}

div#footer {
    position: relative;
    margin-top: -30px; /* neg of height */
    height: 30px;  /* same as footer */
    clear:both;
    background: #E6E6E6;
    border-top: 1px solid #A8A8A8
}